@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.content {
    margin-left: 390px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.search {
    position: relative;
    top: 10px;
    left: 1100px;
    width: 39%; /* Ajuste del ancho */
}

.search input {
    width: 100%;
    padding: 10px 50px; /* Ajustar espacio alrededor del texto */
    border-radius: 35px;
    border: #1e40af solid 2px;
    font-size: 18px;
}

.search ::placeholder {
    color: #8f8f8f;
}

.lupa img {
    position: relative;
    top: -28px;
    left: 1115px;
    width: 24px; /* Ajuste del ancho */
    height: 24px;
}

.content h1 {
    color: #1e40af;
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product {
    text-align: center;
    background: #f4f4f4;
    height: 350px;
    margin-bottom: 110px;

}

.product-image {
    padding: 10px; /* Solo afecta a la imagen */
    display: block; /* Asegura que la imagen se mantenga como bloque */
    overflow: hidden; /* Evita que el texto sobrepase la imagen */
    transition: transform 0.3s ease-in-out; /* Animación para el hover */
}

.product img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.product h2,
.product .info,
.product .price {
    position: relative;
    z-index: 1; /* Asegura que el texto se quede encima de la imagen */
}

.product:hover {
    cursor: pointer;
    transform: scale(1.05); /* Cambié a 1.05 para un efecto más suave */
    transition: transform 0.3s ease-in-out;
}

.price {
    color: #2563eb;
    font-weight: bold;
    margin-top: -23px;
    font-size: 20px;
    margin-left: 84%;
    transform: translateX(-50%);
    text-decoration: none; /* Asegurarse de quitar el subrayado */
}

.product h2 {
    font-size: 22px;
    color: #2563eb;
    margin-top: -10px;
    margin-right: 230px;
}

.info {
    font-size: 20px;
    color: #737373;
    margin-top: 10px;
    margin-right: 250px;
}

/* Elimina subrayados */
a {
    text-decoration: none;
}

.product .price::before,
.product .price::after {
    text-decoration: none;
}

.sidebar {
    width: 250px;
    padding: 20px 10px 0 50px;
    background-color: #e9e9e9;
    position: absolute;
    top: 105px;
    left: 0;
    height: calc(100vh - 50px);
}

.sidebar h3 {
    margin-bottom: 30px;
    color: #1e40af;
    font-size: 28px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

li > a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
}

li > a:hover {
    font-weight: bold;
    color: #1e40af;
    cursor: pointer;
    transition: font-size 0.3s ease;
    font-size: 18px;
}

.sidebar ul li:hover {
    font-weight: bold;
    color: #1e40af;
    cursor: pointer;
    transition: font-size 0.3s ease;
    font-size: 18px;
}

.linea {
    position: absolute;
    width: 1.7%;
    background-color: #8e8e8e;
    height: 92%;
    left: 280px;
    top: 20px;
    border-radius: 15px;
}
span{
    font-size: 18px;
    font-weight: bold;
    color: #1e40af;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el scroll horizontal */
}
