@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto+Condensed:wght@400;700&display=swap");

:root {
    --primary-color: #2563eb;
    --primary-color-dark: #1e40af;
    --text-dark: #1f1f1f;
    --text-light: #4b5563;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
    --font-heading: "Roboto Condensed", sans-serif;
}

/* HombresProductos.css */
.conatinerPrdocutosMen {
    font-family: var(--font-heading);
}

.conatinerPrdocutosMen p {
    font-family: 'Montserrat', sans-serif;
}

html{
    overflow-x: hidden;
}

.buscarMen{
    display: flex;
    justify-content: flex-end;
    margin: 40px 0 20px;
    padding-right: 50px;
}

.buscadorMen{
    border: 1px solid var(--primary-color-dark);
    padding: 4px;
    border-radius: 60px;
    font-size: 19px;
    width: 250px;
}

#buscadorMen input{
    border: none;
    
}

#buscarProductosMen{
    outline: none;
    border: none;
    background-color: transparent;
    position: relative;
    width: 100px;
    font-size: 19px;
    margin-bottom: 0;
}


.conatinerPrdocutosMen {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas exactas */
    gap: 16px; /* Espaciado entre tarjetas */
    position: relative;
    right: -3rem;
}
 
.imgProductoMen {
    border-radius: 8px; /* Bordes redondeados */
    text-align: left; /* Alineación del contenido hacia la izquierda */
    padding: 15px; /* Espaciado interno en la tarjeta */
}
  
.imgProductoMen img {
    width: 80%; /* Imagen al 100% del ancho del contenedor */
    height: 70%; /* Mantener proporción */
    border-radius: 6px; /* Bordes ligeramente redondeados */
    margin-bottom: 10px; /* Separación inferior de la imagen */
    transition: transform 0.3s ease; 
}

.imgProductoMen img:hover{
 transform: scale(1.1); /* Ampliar la imagen al pasar el mouse */
}

.TittleProcut {
    font-size: 1rem; /* Tamaño del texto del título */
    font-weight: bold; /* Negrita para resaltar el título */
    color: var(--primary-color-dark); /* Color Azul para el texto */
    margin-bottom: 8px; /* Separación inferior */
    font-family: "Roboto Condensed", sans-serif;
}
  
.descriptionProductoMen {
    font-size: 12px; /* Texto pequeño para la descripción */
    margin-bottom: 8px; /* Separación inferior */
    font-weight: 500;
}
  
.priceProductMen {
    font-size: 12px; /* Tamaño destacado para el precio */
    font-weight: bold; /* Resaltar el precio */
    color: #0044cc; /* Azul fuerte */
    position: relative;
    right: -16rem;
    top: -21px;
}

  