@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto+Condensed:wght@400;700&display=swap");

:root {
    --primary-color: #2563eb;
    --primary-color-dark: #1e40af;
    --text-dark: #1f1f1f;
    --text-light: #4b5563;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
    --font-heading: "Roboto Condensed", sans-serif;
}

.reseñas-container {
  font-family: var(--font-heading);
}

.reseñas-container p {
  font-family: 'Montserrat', sans-serif;
}

/* styles.css */
.reseñas-container{
  font-family: Arial, sans-serif;
  margin-bottom: 5rem;
  padding: 34mm;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.form-client-atention{
  background-color: rgb(210, 210, 210);
  border-radius: 20px;
  text-align: left;
  padding: 1rem;
}

.title {
  color: #0026a7;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.linea-resenas {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin-bottom: 20px;
}

.input-text {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.coment-area{
  width: 100%;
  height: 8rem;
}
.input-text{
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-submit {
  background-color: #0026a7;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
  width: 100px;
  margin-top: 7%;
}

.btn-submit:hover {
  background-color: #0040e8;
    cursor: pointer;
}

.form-labels{
  width: auto;
  margin: 0;
  padding: 0;;
  font-weight:800;
}

.coment-and-send-section{
  display: flex;
}

.coment-and-send-section .btn-submit{
  width: 10%;
  height: 40px;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;
}




