:root {
    --primary-color: #2563eb;
    --primary-color-dark: #1e40af;
    --text-dark: #1f1f1f;
    --text-light: #4b5563;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
    --font-heading: "Roboto Condensed", sans-serif;
}

.titulo-fabricantes {
    text-align: center;
    margin: 20px auto 30px;
    max-width: var(--max-width);
}

.titulo-fabricantes h1 {
    font-size: 50px;
    color: var(--primary-color-dark);
    margin-bottom: 5px;
}

.contenido-fabricantes {
    max-width: var(--max-width);
    margin: 0 auto;
}

.tarjeta-fabricantes {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 3px solid #6a6a6a;
}

.tarjeta-imagen {
    margin: 10px;
    width: 30%;
}

.tarjeta-fabricantes img {
    object-fit: cover;
    height: 300px;
    border-radius: 8px;
} 

.tarjeta-contenido {
    margin: 20px 0;   
    width: 70%;
}

.tarjeta-contenido .tarjeta-contenido-h2 {
    margin: 10px 5px;
}

.tarjeta-contenido .tarjeta-contenido-parrafo {
    text-align: justify;
    margin: 0 5px;
    padding: 5px;
    font-size: 14px;
    line-height: 1.6;
    max-width: 600px;
}