:root {
    --primary-color: #2563eb;
    --primary-color-dark: #1e40af;
    --text-dark: #1f1f1f;
    --text-light: #4b5563;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
    --font-heading: "Roboto Condensed", sans-serif;
}


.titulo-galeria {
    text-align: center;
    margin: 20px auto;
}

.titulo-galeria h1 {
    font-size: 70px;
    color: var(--primary-color-dark);
}

.galeria {
    max-width: var(--max-width);
    margin: 0 auto 20px;
}

.galeria .rows1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.galeria .rows2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.galeria .rows3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
