@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto+Condensed:wght@400;700&display=swap");

:root {
    --primary-color: #2563eb;
    --primary-color-dark: #1e40af;
    --text-dark: #1f1f1f;
    --text-light: #4b5563;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
    --font-heading: "Roboto Condensed", sans-serif;
}

.hero{
    background-image: url(/public/assets/header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}

.hero-text h1 {
    font-size:10em;
    text-align: left;
    margin-left: 1em;
    padding-top: 100px;
    color: white !important;
    text-align: center;
    font-size:em;
    font-family: var(--font-heading);
}

.hero-text p{
    font-family: "montserrat", sans-serif;
    text-align: left;
    margin-left: 19em;
    font-size: large;
    color: white !important;
}