@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto+Condensed:wght@400;700&display=swap");

.hero{
    background-image: url(/public/assets/header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: calc(100vh - 80px);

}
.hero-text h1 {
    font-size:10em;
    text-align: left;
   font-family: "montserrat", sans-serif;
   margin-left: 1em;
   padding-top: 100px;
    
}
.hero-text p{
    font-family: "montserrat", sans-serif;
    text-align: left;
    margin-left: 19em;
    font-size: large;
    ;
}