@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto+Condensed:wght@400;700&display=swap");

/*estilos secction1*/
.section-BRANDS {
    width: 100%;
}

.container-principal-BRANDS {
    margin: 10px 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-principal-BRANDS .contenido-BRANDS {
    margin: 120px 0;
}

.container-principal-BRANDS .contenido-BRANDS .titulo-contenido-BRANDS {
    color: #1e40af;
    font-size: 40px;
    text-align: left;
}

.container-principal-BRANDS .contenido-BRANDS .parrafo-contenido-BRANDS {
    margin: 20px 0;
    font-size: 20px;
}

.container-principal-BRANDS .imagen-BRANDS img {
    margin: 50px 30px;
    width: 100%;
    height: 70%;
    border-radius: 10px;
}

.section-BRANDS .linea-BRANDS {
    position: absolute;
    border: 2px solid black;
    width: 800px;
    margin: 0 270px;
}

/*estilos secction2*/
.section-marcas-BRANDS {
    width: 100%;
    margin: 100px 0;
}

.container-principal-marcas-BRANDS {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 60px 10%;
}

.titulo-marcas {
    color: #1e40af;
    font-size: 60px;
    text-align: center;
}

.container-principal-marcas-BRANDS .nike-BRANDS img {
    width: 50%;
    margin: 0 100px;
}

.container-principal-marcas-BRANDS .converse-BRANDS img {
    width: 50%;
    margin: 40px 90px;
}

.container-principal-marcas-BRANDS .Jordan-BRANDS img {
    width: 40%;
    margin: 70px 110px;
}

.container-principal-marcas-BRANDS .nike-BRANDS .titulo-nike-BRANDS {
    text-align: center;
    font-size: 30px;
    color: #1f1f1f;
}

.container-principal-marcas-BRANDS .converse-BRANDS h2 {
    text-align: center;
    font-size: 30px;
    color: #1f1f1f;
}

.container-principal-marcas-BRANDS .Jordan-BRANDS h2 {
    text-align: center;
    font-size: 30px;
    color: #1f1f1f;
}

.container-principal-marcas-BRANDS .Jordan-BRANDS h2 {
    text-align: center;
    color: #1f1f1f;
}

.section-marcas-BRANDS .linea-BRANDS {
    position: absolute;
    border: 2px solid black;
    width: 800px;
    margin: 0 270px;
}

/*estilos secction3*/
.section-BRANDS2 {
    width: 100%;
    margin: 0;
}

.container-principal-BRANDS2 .contenido-BRANDS2 .imagen-section-BRANDS img {
    width: 30%;
    margin: 0 60px;
}

.container-principal-BRANDS2 {
    margin: 30px 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-principal-BRANDS2 .contenido-BRANDS2 {
    margin: 10px 0;
}

.container-principal-BRANDS2 .contenido-BRANDS2 h1 {
    color: #1e40af;
}

.container-principal-BRANDS2 .contenido-BRANDS2 p {
    margin: 20px 0;
    font-size: 20px;
}

.container-principal-BRANDS2 .imagen-BRANDS2 img {
    margin: 50px 130px;
    border-radius: 10px;
    width: 60%
    
}

.section-BRANDS2 .linea-BRANDS {
    position: absolute;
    border: 2px solid black;
    width: 800px;
    margin: 0 270px;
}


/*estilos secction4*/

.section-BRANDS3 {
    width: 100%;
    margin: 0;
}

.container-principal-BRANDS3 .imagen-section-BRANDS3 img {
    width: 30%;
    margin: 40px 0;
}

.container-principal-BRANDS3 {
    margin: 30px 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-principal-BRANDS3 .imagen-BRANDS3 {
    margin: 10px 0;
}

.container-principal-BRANDS3 .contenido-BRANDS3 {
    margin: 100px 20px;
}

.container-principal-BRANDS3 .contenido-BRANDS3 h1 {
    color: #1e40af;
}

.container-principal-BRANDS3 .contenido-BRANDS3 p {
    margin: 20px 0;
    font-size: 20px;
}

.container-principal-BRANDS3 .imagen-BRANDS3 img {
    margin: 90px 200px;
    border-radius: 10px;
    width: 50%
    
}

.section-BRANDS3 .linea-BRANDS {
    position: absolute;
    border: 2px solid black;
    width: 800px;
    margin: 0 270px;
}


/*estilos secction5*/
.section-BRANDS4 {
    width: 100%;
    margin: 0;
}

.container-principal-BRANDS4 .contenido-BRANDS4 .imagen-section-BRANDS4 img {
    width: 30%;
    margin: 20px 0;

}

.container-principal-BRANDS4 {
    margin: 30px 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-principal-BRANDS4 .contenido-BRANDS4 {
    margin: 100px 0;
    text-align: center;
}

.container-principal-BRANDS4 .contenido-BRANDS4 h1 {
    color: #1e40af;
    text-align: left;
    margin: 10px 0;
}

.container-principal-BRANDS4 .contenido-BRANDS4 p {
    margin: 20px 0;
    font-size: 30px;
    text-align: left;
}

.container-principal-BRANDS4 .imagen-BRANDS4 img {
    margin: 90px 100px;
    border-radius: 10px;
    width: 60%
    
}

.section-BRANDS4 .linea-BRANDS {
    position: absolute;
    border: 2px solid black;
    width: 800px;
    margin: 0 270px;
}