@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto+Condensed:wght@400;700&display=swap");

:root {
  --primary-color: #2563eb;
  --primary-color-dark: #1e40af;
  --text-dark: #1f1f1f;
  --text-light: #4b5563;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
  --font-heading: "Roboto Condensed", sans-serif;
}

.comprass-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  height: 150hv;
  background: none; 
}

.comprass-container h2 {
  font-family: var(--font-heading);
}

.comprass-container p {
  font-family: 'Montserrat', sans-serif;
}

.formulario-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100hv;

}


.form-container {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  margin-left: 0.5%; 
  
}

.form-container form {
  display: flex;
  flex-direction: column;
}


label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.row > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 30%;
  margin-left: 35%;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
  
}

.btn:hover {
  background-color: var(--primary-color-dark);
}


.summary-container {
  
  width: 28%;
  background: none;
  padding: 20px;
  border-radius: 10px;
 
 
}

.summary-container p{
  font-size: 20px;
}

.summary-container h2 {
  margin-bottom: 20px;
  color: var(--primary-color-dark);
  text-align: center;
  font-family: var(--font-heading);
}

.summary-items {
  margin-bottom: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mini-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

/* Estilos del modal */
.modal-principal, .modal-confirmar, .modal-omitir {
  position: fixed;           
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;  
  align-items: center;      
  z-index: 1000;    
       
}
/* Estilo para el botón de cierre (X) */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}
.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 450px;  
  justify-content: center;   
  align-items: center;      

}
.modal-content h2{
  color: #000;
  text-align: center;
}

/* Botones del modal */
.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.modal-buttons .btn1,
.modal-buttons .btn2 {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.modal-buttons .btn1 {
  background-color: var(--text-light);
  color: white;
}

.modal-buttons .btn2 {
  background-color: var(--primary-color);
  color: white;
}

.modal-buttons .btn1:hover {
  background-color: #1f1f1f;
}

.modal-buttons .btn2:hover {
  background-color: var(--primary-color-dark);
}