:root {
  --primary-color: #2563eb;
  --primary-color-dark: #1e40af;
  --text-dark: #1f1f1f;
  --text-light: #4b5563;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
  --font-heading: "Roboto Condensed", sans-serif;
}


/* ------------------- Buscador -------------------- */
.buscador-Ninos-productos {
  display: flex;
  justify-content: flex-end;
  margin: 40px 0 20px;
  padding-right: 50px;
}

.buscador-Ninos {
  border: 1px solid var(--primary-color-dark);
  padding: 10px;
  border-radius: 60px;
  font-size: 19px;
}

.buscador-Ninos input {
  border: none;
  font-size: 19px;
  width: 200px;
}

.buscar-producto {
  outline: none;
}

/* ------------------ Productos -------------------- */
.grid-contenido-Ninos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  margin: 100px 80px;
}

.grid-contenido-Ninos img {
  border-radius: 11px;
}

.grid-contenido-Ninos h4{
  color: var(--primary-color-dark);
  font-size: 1.rem;
  margin: 10px 0 0 5px;
}

.grid-contenido-Ninos h4{
  color: var(--primary-color-dark);
  font-size: 1.rem;
  margin: 10px 0 0 5px;
}

.grid-contenido-Ninos p {
  justify-content: space-between;
}

.precio-Ninos {
  display: flex;
  justify-content: space-between;
  margin: 8px 30px 0 5px;
  font-size: 0.9rem;
  font-weight: 600;
}

.precio-Ninos h5 {
  font-weight: 500;
}

.precio-Ninos p {
  color: var(--primary-color);
}

/* ------------------ Botón ver más ------------------- */
.mas-productos-Ninos {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.boton-ver-mas-productos {
  border: none;
  padding: 10px;
  border-radius: 60px;
  font-size: 19px;
  color: var(--white);
  background-color: var(--primary-color-dark);
  width:10%
}