/* Importamos las fuentes de Google Fonts que se utilizarán en la página */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto+Condensed:wght@400;700&display=swap");

/* Definimos variables CSS para facilitar cambios de diseño y mantener consistencia */
:root {
    --primary-color: #2563eb; /* Color principal */
    --primary-color-dark: #1e40af; /* Color principal más oscuro */
    --text-dark: #1f1f1f; /* Color del texto oscuro */
    --text-light: #4b5563; /* Color del texto claro */
    --extra-light: #f3f4f6; /* Color de fondo claro */
    --white: #ffffff; /* Color blanco */
    --max-width: 1200px; /* Ancho máximo */
    --font-heading: "Roboto Condensed", sans-serif; /* Fuente principal */
}

/* Estilo principal para la sección de detalles del producto */
.producto-detalle {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    font-family: var(--font-heading);
}

/* Fuente personalizada para párrafos en detalles y productos no encontrados */
.producto-detalle p, .producto-no-encontrado p {
    font-family: 'Montserrat', sans-serif;
}

/* Imagen principal del producto con ajustes de posición y estilo */
.ImagenPrincipal {
    width: 60%;
    position: relative;
    left: -29rem;
    top: -3rem;
    border-radius: 11px;
}

/* Estilo del título de los productos */
.tittle-productos-men {
    font-size: 30px;
    color: var(--primary-color-dark);
    font-weight: bolder;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
    max-width: 600px;
    position: relative;
    right: -28px;
    bottom: -16px;
  
}

/* Descripción del producto */
.descripcionMen {
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
    font-weight: bold;
    position: relative;
    left: -190px;
    top: -360px;
}

/* Información de los materiales */
.materialHombre {
    font-size: 18px;
    color: #646262;
    position: relative;
    left: -170px;
    top: -380px;
    font-family: "Montserrat", sans-serif;
}

/* Precio del producto */
.PriceMen {
    font-size: 17px;
    color: var(--primary-color);
    font-weight: bolder;
    margin-top: 10px;
    position: relative;
    left: -240px;
    top: -390px;
    font-family: "Roboto Condensed", sans-serif;
}

/* Selectores de opciones como talla o color */
.producto-detalle select {
    width: 35%;
    padding: 8px;
    font-size: 14px;
    background-color: #ececec;
    border: none;
    border-radius: 50px;
    position: relative;
    left: -170px;
    top: -380px;
}

/* Enlace para más información */
.moreInformationMen {
    font-size: 17px;
    color: #000;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    left: -130px;
    top: -24rem;
}

/* Botón para agregar al carrito */
.btn-aggCarrito {
    display: flex;
    width: 100%;
    background-color: var(--primary-color-dark);
    color: white;
    padding: 14px;
    font-size: 16px;
    justify-content: space-between;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    right: -29rem;
    top: -18rem;
    padding-right: 50px;
}

/* Efecto hover para el botón */
.btn-aggCarrito:hover {
    background-color: #004494;
}

/* Icono de carrito de compras */
.ri-shopping-cart-line {
    margin-right: 20px;
}

/* Línea divisoria */
.verhombre-hr {
    width: 80rem;
    border: 1px solid var(--primary-color-dark);
    position: relative;
    top: -17rem;
    left: -10px;
}

/* Estilo de la ventana modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Contenido de la ventana modal */
.modal-hombre {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    position: relative;
    z-index: 1001;
}

/* Descripción dentro de la modal */
.descripcion-modal-hombre {
    margin-bottom: 30px;
    text-align: left;
}

.descripcion-producto-hombree{
  text-align: left;
}
/* Botón de cierre de la modal */
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(--text-dark);
    cursor: pointer;
    transition: color 0.3s;
    outline: none;
}

/* Efecto hover para el botón de cierre */
.modal-close:hover {
    color: var(--primary-color-dark);
}

/* Contenedor de eventos */
.events-container-men {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 30px;
    max-width: 1300px;
    height: 200px;
    text-align: center;
    position: relative;
    top: -18rem;
    left: -350px;
}

/* Estilos para la lista de eventos */
.events-container-men .events-upcoming-men {
    position: relative;
    overflow: visible;
    margin-top: 14px;
}

/* Tarjeta de evento */
.events-container-men .event-card-men {
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    padding: 10px;
    margin: 10px;
}

/* Imagen dentro de la tarjeta de evento */
.events-container-men .event-card-men img {
    width: 90%;
    height: auto;
    border-radius: 10px;
}

/* Título de la tarjeta */
.events-container-men .event-card-men h3 {
    color: var(--primary-color-dark);
    font-weight: bold;
    font-size: 17px;
    margin: 10px 0;
}

/* Descripción de la tarjeta */
.events-container-men .event-card-men p {
    font-size: 12px;
    margin: 0;
    position: relative;
}

/* Estilos para las flechas del carrusel */
.slick-dots li button:before {
    display: none;
    color: var(--extra-light) !important;
}

.slick-prev,
.slick-next {
    color: #0044cc !important;
    z-index: 1;
    font-size: 55px !important;
    opacity: 0.7 !important;
    transition: opacity 0.3s !important;
}

.slick-prev::before,
.slick-next::before {
    content: none;
}

/* Precio del producto en el carrusel */
.event-card-men .priceMen-slider {
    font-weight: bolder;
    position: relative;
    color: var(--primary-color-dark) !important;
    top: -15px !important;
    right: -280px;
}



/* Botón para regresar */
.boton-regresar {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 15px;
}

/* Texto adicional */
.text-men {
    font-weight: 400;
}

/* Efecto hover del botón de regresar */
.boton-regresar:hover {
    background-color: #1e40af;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Botón para ver carrito en dispositivos grandes */
.ver-carrito-men {
    position: relative;
    top: -420px;
    right: -555px;
    border: none;
    font-size: 1rem;
    text-decoration: underline;
    color: var(--text-dark);
    display: none;
}



.ver-carrito-men{
    position: relative;
    top: -420px;
    right: -555px;
    border: none;
    font-size: 1rem;
    text-decoration: underline;
    color: var(--text-dark);
    display: none;
}

@media (max-width: 480px) {
  .producto-detalle {
    padding: 15px;
    max-width: 100%;
  }

  .ImagenPrincipal {
    left: 0;
    top: -40px;
  }

  .tittle-productos-men {
    font-size: 20px;
    position: relative;
    left: 0;
    bottom: -240px;
    text-align: center;

  }

  .descripcionMen{
    position: static;
    font-size: 15px;
    text-align: left;
  } 

  .materialHombre{
    position: static;
    font-size: 15px;
    text-align: left;
    margin-top: -22px;
  }

  .producto-detalle select {
    width: 50%;
    position: relative;
    top: -30px;
    left: 5px;
    font-size: 16px;
  }

  .PriceMen{
    font-size: 18px;
    position: relative;
    top: 90px;
    left: 5px;
  }

  .moreInformationMen{
    position: static;
    right: 0;
    left: 0;
    text-align: center;
    transform: translateY(60px);
    z-index: 999;
    
    
  }

  .btn-aggCarrito {
    margin-top: -20px;
    margin-left: -32px;
    position: static;
    width: 140%;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;    /* Centrar verticalmente */
    text-align: center;     /* Asegura el centrado del texto */
  }

  .text-men{
    display: none;
  }

  .verhombre-hr{
    width: 95%;
    position: relative;
    top: 50px;
    left: 0px;
  }

  .events-container-men{
    width: 110%;
    height: 400px;
    position: relative;
    left: -2rem;
    top: 0;
    }

    .event-card{
      position: relative;
      bottom: -45px;
    }

    .event-card p{
      transform: translateY(-4px);
    }
  
    .events-container-men img{
      width: 100% !important; /* Ajustar el ancho al 100% */
      height: 250px !important; /* Ajustar la altura a algo más adecuado */
      left: 0; /* Centrar el contenedor a la izquierda */
      top: 0; /* Ajustar la posición vertical */
    }

    .priceMen-slider, .priceMen-slider-2{
      position: relative;
      transform: translateY(-4px);

    }

    .custom-next-arrow{
      margin-right: 16px;
    }

    .custom-prev-arrow{
      margin-left: 3rem;
    }
}



/* Móviles grandes y tabletas pequeñas (481px - 768px) */
@media (min-width: 500px) and (max-width: 768px) {
  .producto-detalle {
    padding: 15px;
    max-width: 100%;
  }

  .ImagenPrincipal {
    width: 70%;
    left: 0;
    top: -40px;
  }

  .tittle-productos-men {
    font-size: 25px;
    position: relative;
    left: 0;
    bottom: -340px;
    text-align: center;

  }

  .descripcionMen{
    position: static;
    font-size: 18px;
    text-align: left;
  } 

  .materialHombre{
    position: static;
    font-size: 18px;
    text-align: left;
    margin-top: -22px;
  }

  .producto-detalle select {
    width: 50%;
    position: relative;
    top: -30px;
    left: 5px;
    font-size: 16px;
  }

  .PriceMen{
    font-size: 18px;
    position: relative;
    top: 90px;
    left: 5px;
  }

  .moreInformationMen{
    position: static;
    right: 0;
    left: 0;
    text-align: center;
    transform: translateY(60px);
    z-index: 999;
    
  }

  .btn-aggCarrito {
    margin-top: -20px;
    margin-left: -32px;
    position: static;
    width: 140%;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;    /* Centrar verticalmente */
    text-align: center;     /* Asegura el centrado del texto */
  }

  .text-men{
    display: none;
  }

  .verhombre-hr{
    width: 95%;
    position: relative;
    top: 50px;
    left: 0px;
  }

  .events-container-men{
    width: 150%;
    height: 400px;
    position: relative;
    left: 0;
    top: 0;
    overflow: visible;
    }

    .event-card{
      position: relative;
      bottom: -45px;
    }
  

    .events-container-men img{
      width: 25%;
      height: 250px !important; /* Ajustar la altura a algo más adecuado */
      position: relative;
      left: -7rem;/* Centrar el contenedor a la izquierda */
      right: 0;
      top: 0; /* Ajustar la posición vertical */
    }

    .priceMen-slider, .priceMen-slider-2{
      position: relative;
      transform: translateY(-4px);
    }

    .custom-next-arrow{
      margin-right: 240px;
    }

    .custom-prev-arrow{
      margin-left: 2rem;
    }
}



/* Tabletas medianas y grandes (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .producto-detalle {
    padding: 15px;
    max-width: 100%;
  }

  .ImagenPrincipal {
    width: 70%;
    left: 0;
    top: -40px;
  }

  .tittle-productos-men {
    font-size: 25px;
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
    transform: translateY(725px);
  }

  .descripcionMen{
    position: static;
    font-size: 18px;
    text-align: left;
  } 

  .materialHombre{
    position: static;
    font-size: 18px;
    text-align: left;
    margin-top: -22px;
  }

  .producto-detalle select {
    width: 50%;
    position: relative;
    top: -30px;
    left: 5px;
    font-size: 16px;
    
  }

  .PriceMen{
    font-size: 18px;
    position: relative;
    top: 90px;
    left: 5px;
  }

  .moreInformationMen{
    position: static;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 2;
    transform: translateY(60px);
    z-index: 999;
    
    
  }

  .btn-aggCarrito {
    margin-top: -20px;
    margin-left: -32px;
    position: static;
    width: 140%;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;    /* Centrar verticalmente */
    text-align: center;     /* Asegura el centrado del texto */
  }

  .text-men{
    display: none;
  }

  .verhombre-hr{
    width: 95%;
    position: relative;
    top: 50px;
    left: 0px;
  }

  .events-container-men{
    width: 150%;
    height: 400px;
    position: relative;
    left: 0;
    top: 0;
    overflow: visible;
    }

    .event-card{
      position: relative;
      bottom: -45px;
    }
  

    .events-container-men img{
      width: 70% !important;
      height: 50% !important; /* Ajustar la altura a algo más adecuado */
      position: relative;
     
      right: 0;
      top: 0; /* Ajustar la posición vertical */
    }

    

    .priceMen-slider, .priceMen-slider-2{
      position: relative;
      transform: translateY(-4px);
    }

    .custom-next-arrow{
      margin-right: 240px;
    }

    .custom-prev-arrow{
      margin-left: 2rem;
    }
}

@media (min-width: 1921px) {
    .ImagenPrincipal{
        width: 100%;
    }

    .tittle-productos-men {
        font-size: 40px;
        color: var(--primary-color-dark);
        font-weight: bolder;
        margin-right: -15rem;
        margin-bottom: -50px;
        width: 100%; /* Ajusta el ancho del contenedor */
        max-width: 600px; /* Limita el ancho máximo */
        
    }
      
    .descripcionMen {
        font-size: 25px;
        color: #000;
        margin-top: 10px;
        margin-bottom: 20px;
        font-weight: bold;
        position: relative;
        left: -25px;
        top: -34rem;
    }
    
    .materialHombre {
        font-size: 25px;
        color: #646262;
        position: relative;
        left: -15px;
        top: -35rem;
        font-family: "Montserrat", sans-serif;
    }
    
    .PriceMen {
        font-size: 25px;
        color: var(--primary-color);
        font-weight: bolder;
        position: relative;
        left: -90px;
        top: -35rem;
        font-family: "Roboto Condensed", sans-serif;
    }
      
    .producto-detalle select {
        width: 50%;
        margin: 1px 0;
        padding: 8px;
        font-size: 14px;
        background-color: #ececec;
        border: none;
        border-radius: 50px;
        position: relative;
        left: -30px;
        top: -35rem;
    }
    
    .moreInformationMen {
        color: #000;
        text-decoration: underline;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        left: 0px;
        right: 0;
        top: -35rem;
        z-index: 999;
    }
      
    .btn-aggCarrito {
        display: flex;
        width: 100%;
        background-color: var(--primary-color-dark);
        color: white;
        padding: 14px;
        font-size: 16px;
        justify-content: space-between;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        margin-top: 10px;
        position: relative;
        right: -29rem;
        top: -27rem;
        padding-right: 50px;
    }
    
    .events-container-men{
        width: 300% !important; 
        height: 100px;
    }

    .events-container-men img{
      width: 100% !important;
      height: 400% !important;
      
    }
}
