@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto+Condensed:wght@400;700&display=swap");

:root {
    --primary-color: #2563eb;
    --primary-color-dark: #1e40af;
    --text-dark: #1f1f1f;
    --text-light: #4b5563;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
    --font-heading: "Roboto Condensed", sans-serif;
}

.producto-detalle {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    max-width: 600px;
    font-family: var(--font-heading);
}

.producto-detalle p, .producto-no-encontrado p {
    font-family: 'Montserrat', sans-serif;
}

.ImagenPrincipal {
    width: 60%;
    position: relative;
    left: -29rem;
    top: -5rem;
    border-radius: 11px;
}


  
.tittle-productos-men {
    font-size: 30px;
    color: var(--primary-color-dark);
    font-weight: bolder;
    text-align: left; /* Centra el texto horizontalmente */
    margin-bottom: 10px;
    width: 100%; /* Ajusta el ancho del contenedor */
    max-width: 600px; /* Limita el ancho máximo */
    
}
  
.descripcionMen {
    font-size: 20px;
    color: #000;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    position: relative;
    left: -195px;
    top: -24rem;
}

.materialHombre {
    font-size: 18px;
    color: #646262;
    position: relative;
    left: -170px;
    top: -410px;
    font-family: "Montserrat", sans-serif;
}

.PriceMen {
    font-size: 17px;
    color: var(--primary-color);
    font-weight: bolder;
    position: relative;
    left: -238px;
    top: -415px;
    font-family: "Roboto Condensed", sans-serif;
}
  
.producto-detalle select {
    width: 35%;
    margin: 1px 0;
    padding: 8px;
    font-size: 14px;
    background-color: #ececec;
    border: none;
    border-radius: 50px;
    position: relative;
    left: -185px;
    top: -415px;
}

.moreInformationMen {
    color: #000;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    left: -170px;
    top: -25rem;
}
  
.btn-aggCarrito {
    display: flex;
    width: 100%;
    background-color: var(--primary-color-dark);
    color: white;
    padding: 14px;
    font-size: 16px;
    justify-content: space-between;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    right: -29rem;
    top: -28rem;
    padding-right: 50px;
}

  
.btn-aggCarrito:hover {
    background-color: #004494;
}

.ri-shopping-cart-line{
    margin-right: 20px;
}

.verhombre-hr {
    width: 80rem;
    border: 1px solid var(--primary-color-dark);
    position: relative;
    top: -28rem; 
    left: -10px;
}
  
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.modal-hombre {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    position: relative;
    z-index: 1001; 
}

.descripcion-modal-hombre {
    margin-bottom: 30px;
}

/* Asegurar que la X es visible */
.modal-close  {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(--text-dark);
    cursor: pointer;
    transition: color 0.3s;
    outline: none;
}

.modal-close:hover {
    color: var(--primary-color-dark); /* Cambio de color al pasar el mouse para una mejor experiencia */
}



.events-container {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 30px;
    max-width: 1300px;
    height: 10px;
    text-align: center;
    position: relative;
    top: -26rem;
    left:-22rem;
}

.events-upcoming {
    position: relative;
    overflow: visible;
    margin-top: 14px;
    
}

.event-card {
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    padding: 10px;
    margin: 10px;
}

.event-card img {
    width: 90%;
    height: 45vh;
    border-radius: 10px;
}

.event-card h3 {
    color: var(--primary-color-dark);
    font-weight: bold;
    font-size: 14px;
    margin: 10px 0;
}

.event-card p {
    font-size: 12px;
    margin: 0;
    position: relative;
    top: -9px;
}


.slick-dots li button:before {
    display: none;
    color: var(--extra-light) !important; /* Asegúrate de sobrescribir */
}

.slick-prev,
.slick-next {
    color: #0044cc !important;
    z-index: 1; /* Opcional para asegurarte de que las flechas sean visibles */
    font-size: 55px !important; 
    opacity: 0.7 !important;
    transition: opacity 0.3s !important;
}

.slick-prev::before,
.slick-next::before {
  content: none;
}


.event-card .priceMen-slider{
    font-weight: bolder;
    position: relative;
    color: var(--primary-color-dark) !important;
    top: -24px;
    right: -220px;
}

.event-card .priceMen-slider-2{
    font-weight: bolder;
    position: relative;
    color:var(--primary-color-dark) !important;
    top: -24px;
    right: -220px;
}

.boton-regresar {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 15px;
}
.boton-regresar:hover {
    background-color: #1e40af; /* Color más oscuro en hover /
    transform: scale(1.05); / Efecto de agrandamiento */
    transition: transform 0.3s ease;
}
.ver-carrito-men{
    position: relative;
    top: -440px;
    right: -555px;
    border: none;
    font-size: 1rem;
    text-decoration: underline;
    color: var(--text-dark);
}