@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto+Condensed:wght@400;700&display=swap");

:root {
    --primary-color: #2563eb;
    --primary-color-dark: #1e40af;
    --text-dark: #1f1f1f;
    --text-light: #4b5563;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
    --font-heading: "Roboto Condensed", sans-serif;
}

.contenido-mujeres {
  font-family: var(--font-heading);
}

.contenido-mujeres p {
  font-family: 'Montserrat', sans-serif;
}

/* -------------- Producto/descripción -------------- */
.ver-producto-mujer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 20px 50px 50px 30px !important;
}

.ver-producto-mujer img {
  border-radius: 11px;
  height: auto;
  width: 90%;
}
  
.info-producto-mujer {
  padding: 10px 0;
}
  
.info-producto-mujer h3 {
  color: var(--primary-color-dark);
  font-size: 2rem;
}
  
.info-producto-mujer h4 {
  font-size: 1.3rem;
}
  
.material-producto-mujer {
  font-weight: 300;
}
  
.info-producto-mujer p {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.2rem;
}
  
.color-talla {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}
  
.color-talla select {
  width: 20%;
  padding: 8px;
  font-size: 14px;
  background-color: #ececec;
  border: none;
  border-radius: 50px;
  position: relative;
}
  
.ver-mas-mujeres {
  text-decoration: underline;
}

.boton-mujeres{
  display: flex;
  flex-direction: row;
  width: 120%;
  margin-left: 30px;
  margin-top: 12%;
}
  
.carrito-mujeres {
  background-color: var(--primary-color-dark);
  color: var(--white);
  /* padding: 2px 30px !important; */
  font-size: 1rem;
  border-radius: 60px;
  border: none;
  cursor: pointer;
  
}
  
.ver-producto-mujer .ri-shopping-cart-line {
  margin: 10px;
}
  
.boton-mujeres {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  cursor: pointer;
 

}
  
.ver-mas-mujeres {
  margin-bottom: 60px;
}
  
.division-productos-mujeres {
  margin: 0 auto; /* Margen igual en ambos lados */
  background-color: var(--primary-color-dark);
  height: 2px;
  border: none;
  position: relative;
  top: -35px;
  width: calc(90% - 30px); /* Hace que sea más largo al reducir el margen total */
  left: 2px;

}
  
/* ------------------ Productos -------------------- */
.grid-contenido-mujeres {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  margin: 100px 80px;
}
    
.grid-contenido-mujeres img {
  cursor: pointer;
  border-radius: 11px;
}
    
.grid-contenido-mujeres h4{
  color: var(--primary-color-dark);
  font-size: 1.rem;
  margin: 10px 0 0 5px;
}
    
.grid-contenido-mujeres p {
  justify-content: space-between;
}
    
.precio-mujeres {
  display: flex;
  justify-content: space-between;
  margin: 8px 30px 0 5px;
  font-size: 0.9rem;
  font-weight: 600;
}
    
.precio-mujeres h5 {
  font-weight: 500;
}
    
.precio-mujeres p {
  color: var(--primary-color);
}

.precio-slider-m {
  margin-top: 3px !important;
}

/* -------------------- Modal ---------------------------- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-mujer {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
  position: relative;
  z-index: 1001; 
}

.modal-mujer h3 {
  margin-bottom: 30px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: var(--text-dark);
  cursor: pointer;
  transition: color 0.3s;
  outline: none;
}

.ver-mas-mujeres {
  cursor: pointer;
  transition: color 0.3s;
}

/*---------------------- Slider -------------------------*/
.events-container-women {
  margin: 20px 0;
  margin-bottom: -70px !important;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: -6rem;
}

.events-container-women .event-card-women {
  overflow: hidden;
  text-align: left;
  padding: 60px 50px !important;
}

.events-container-women .event-card-women img {
  width: 100% !important;
  height: auto !important;
  border-radius: 11px;
  cursor: pointer;
}

.events-container-women .event-card-women h4 {
  color: var(--primary-color-dark);
  font-size: 1.rem;
  margin: 10px 0 0 5px;
}


.events-container-women .event-card-women h5 {
  font-size: 12px;
  margin: 0 0 0 5px;
  white-space: nowrap;
}

.events-container-women .event-card-women p {
  font-size: 12px;
  margin-left: 50% !important;
}

.slick-dots li button:before {
  color: var(--primary-color-dark) !important; 
}

.precio-slider-m {
  top: 20px !important;
}

/* ------------------ estilos boton devolver -------------------- */
.boton-regresar {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 15px;
  margin-left: 15px;
}
.boton-regresar:hover {
  background-color: #1e40af; /* Color más oscuro en hover /
  transform: scale(1.05); / Efecto de agrandamiento */
  transition: transform 0.3s ease;
}

/* ------------------ Responsive -------------------- */

/* Celulares pequeños */
@media (max-width: 480px) {
  .ver-producto-mujer {
    grid-template-columns: 1fr !important;
    margin: 5px 30px !important;
  }

  .ver-producto-mujer img {
    width: 80%;
    margin: 0 auto;
  }

  .info-producto-mujer {
    align-items: center;
    text-align: center;
  }

  .info-producto-mujer h3 {
    font-size: 1.7rem;
  }

  .color-talla {
    margin-top: 10px;
    align-items: center;
    gap: 8px !important;
  }

  #color, #talla {
    width: 50%;
  }

  .boton-regresar {
    margin: 10px 15px !important;
  }

  .ver-mas-mujeres {
    margin-bottom: 30px;
  }

  .boton-mujeres {
    justify-content: center;
    margin-bottom: 50px;
  }

  .event-card img {
    width: 80% !important;
    height: auto !important;
    margin: 0 auto;
  }  

  .event-card h4, .event-card h5 {
    font-size: 0.9rem;
  }

  .event-card p {
    top: 0 !important;
  }

  .event-card {
    padding: 10px 50px !important;
  }
}

/* Celulares grandes y tablets pequeñas */
@media (min-width: 481px) and (max-width: 768px) {
  .ver-producto-mujer {
    grid-template-columns: 1fr !important;
    margin: 5px 30px !important;
  }

  .ver-producto-mujer img {
    width: 80%;
    margin: 0 auto;
  }

  .info-producto-mujer {
    align-items: center;
    text-align: center;
  }

  .color-talla {
    margin-top: 10px;
    align-items: center;
    gap: 8px !important;
  }

  #color, #talla {
    width: 40%;
  }

  .boton-regresar {
    margin: 10px 15px !important;
  }

  .ver-mas-mujeres {
    margin-bottom: 30px;
  }

  .boton-mujeres {
    justify-content: center;
    margin-bottom: 60px;
  }

  .event-card img {
    width: 60% !important;
    height: auto !important;
    margin: 0 auto;
  }  

  .event-card p {
    top: 0 !important;
    font-size: 1rem !important;
    margin-right: 100px !important;
  }

  .event-card h5, .event-card h4 {
    margin-left: 130px;
    font-size: 1.2rem;
  }

  .event-card {
    padding: 10px 50px !important;
    font-size: 1.6rem;
  } 
}

/* Tablets medianas y grandes */
@media (min-width: 769px) and (max-width: 1024px) {
  .ver-producto-mujer {
    grid-template-columns: 1fr !important;
    margin: 5px 100px !important;
  }

  .ver-producto-mujer img {
    width: 70%;
    height: auto;
    margin: 0 auto;
  }

  .info-producto-mujer {
    align-items: center;
    text-align: center;
  }

  .color-talla {
    margin-top: 10px;
    align-items: center;
    gap: 8px !important;
  }

  #color, #talla {
    width: 30%;
  }

  .boton-regresar {
    margin: 10px 15px !important;
  }

  .ver-mas-mujeres {
    margin-bottom: 30px;
  }

  .boton-mujeres {
    justify-content: center;
    margin-bottom: 90px;
  }

  .event-card img {
    width: 80% !important;
    height: auto !important;
    margin: 0 auto;
  }  

  .event-card p {
    top: 0 !important;
    margin-right: 20px !important;
    font-size: 0.8rem !important;
  }

  .event-card h5, .event-card h4 {
    margin-left: 50px;
    font-size: 1rem;

  }

  .event-card {
    padding: 10px !important;
    font-size: 1.6rem;
  } 
}

/* Laptos y escritorios estándar */
@media (min-width: 1025px) and (max-width: 1920px) {
  .event-card img {
    width: 100% !important;
    height: auto !important;
    border-radius: 10px;
  }  

  .event-card p {
    top: 0 !important;
    font-size: 0.8rem !important;
  }

  .event-card h5, .event-card h4 {
    font-size: 0.9rem;
  }

  .event-card {
    padding: 30px 50px !important;
  }
}

/* Monitores grandes */
@media (min-width: 1921px) {
  .ver-producto-mujer {
    grid-template-columns: 1fr 2fr !important;
    margin: 50px 100px !important;
  }

  .info-producto-mujer h3 {
    font-size: 2.2rem;
  }

  .info-producto-mujer h4 {
    font-size: 1.4rem;
  }

  .ver-producto-mujer img {
    width: 100%;
    height: auto;
  }

  .color-talla {
    margin-top: 10px;
  }

  #color, #talla {
    width: 20%;
  }

  .boton-regresar {
    margin: 30px 50px !important;
  }

  .ver-mas-mujeres {
    margin-bottom: 150px;
  }

  .boton-mujeres {
    justify-content: center;
    margin-bottom: 90px;
  }
 
  .event-card p {
    top: 0 !important;
  }

  .event-card img {
    width: 90% !important;
    height: auto !important;
    border-radius: 10px;
  }  

  .event-card p {
    top: 0 !important;
    font-size: 1.2rem !important;
  }

  .event-card h5, .event-card h4 {
    font-size: 1.4rem;
  }

  .event-card {
    padding: 30px 70px !important;
  }
}