:root {
  --primary-color: #2563eb;
  --primary-color-dark: #1e40af;
  --text-dark: #1f1f1f;
  --text-light: #4b5563;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
  --font-heading: "Roboto Condensed", sans-serif;
}

.boton-regresar {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 15px;
  margin-left: 15px;
}

.boton-regresar:hover {
  background-color: #1e40af; /* Color más oscuro en hover */
  transform: scale(1.05); /* Efecto de agrandamiento */
  transition: transform 0.3s ease;
}



/* -------------- Producto/descripción -------------- */
.ver-producto-mujer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 50px 100px;
}

.ver-producto-mujer img {
  border-radius: 11px;
  height: auto;
}
  
.info-producto-mujer {
  padding: 10px 20px;
}
  
.info-producto-mujer h3 {
  color: var(--primary-color-dark);
  font-size: 2rem;
 margin-top: 80px;
}
  
.info-producto-mujer h4 {
  font-size: 1.3rem;
}
  
.material-producto-mujer {
  font-weight: 300;
}
  
.info-producto-mujer p {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.2rem;
}
  
.color-talla {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
  
.color-talla select {
  padding: 5px 8px;
  width: 15%;
  border-radius: 60px;
  background-color: var(--extra-light);
  font-size: 0.9rem;
  cursor: pointer;
}
  
.ver-mas-mujeres {
  text-decoration: underline;
}
  
.carrito-mujeres {
  background-color: var(--primary-color-dark);
  color: var(--white);
  padding: 8px 20px;
  font-size: 1rem;
  border-radius: 60px;
  border: none;
}
  
.ver-producto-mujer .ri-shopping-cart-line {
  margin: 10px;
}
  
.boton-mujeres {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  cursor: pointer;
  position: relative;
  top: -33px;
}
  
.ver-mas-mujeres {
  margin-bottom: 100px;
  position: relative;
  top: 15px;
}
  
.division-productos-mujeres {
  margin: 0 auto; /* Margen igual en ambos lados */
  background-color: var(--primary-color-dark);
  height: 2px;
  border: none;
  position: relative;
  top: -60px;
  width: calc(90% - 30px); /* Hace que sea más largo al reducir el margen total */
  left: 2px;
}
  
/* ------------------ Productos -------------------- */
.grid-contenido-mujeres {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  margin: 100px 80px;
}
    
.grid-contenido-mujeres img {
  cursor: pointer;
  border-radius: 11px;
}
    
.grid-contenido-mujeres h4{
  color: var(--primary-color-dark);
  font-size: 1.rem;
  margin: 10px 0 0 5px;
}
    
.grid-contenido-mujeres h4{
  color: var(--primary-color-dark);
  font-size: 1.rem;
  margin: 10px 0 0 5px;
}
    
.grid-contenido-mujeres p {
  justify-content: space-between;
}
    
.precio-mujeres {
  display: flex;
  justify-content: space-between;
  margin: 8px 30px 0 5px;
  font-size: 0.9rem;
  font-weight: 600;
}
    
.precio-mujeres h5 {
  font-weight: 500;
}
    
.precio-mujeres p {
  color: var(--primary-color);
}

/* -------------------- Modal ---------------------------- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
  position: relative;
  z-index: 1001; 
}

.modal h3 {
  margin-bottom: 30px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: var(--text-dark);
  cursor: pointer;
  transition: color 0.3s;
  outline: none;
}

.ver-mas-mujeres {
  cursor: pointer;
  transition: color 0.3s;
}

/*---------------------- Slider -------------------------*/


  