@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto+Condensed:wght@400;700&display=swap");

:root {
    --primary-color: #2563eb;
    --primary-color-dark: #1e40af;
    --text-dark: #1f1f1f;
    --text-light: #4b5563;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
    --font-heading: "Roboto Condensed", sans-serif;
}

.contenido-mujeres {
  font-family: var(--font-heading);
}

.contenido-mujeres p {
  font-family: 'Montserrat', sans-serif;
}

/* ------------------- Buscador -------------------- */
.buscador-mujeres-productos {
  display: flex;
  justify-content: flex-end;
  margin: 40px 0 20px;
  padding-right: 50px;
}

.buscador-mujeres {
  border: 1px solid var(--primary-color-dark);
  padding: 5px 5px;
  border-radius: 60px;
  font-size: 19px;
}

.ri-search-line{
  margin-left: 10px;
}

.buscador-mujeres input {
  border: none;
  font-size: 19px;
  width: 220px;
  background-color: transparent;
  margin-bottom: 0;
}

.buscar-producto-mujer {
  outline: none;
}

/* ------------------ Productos -------------------- */
.grid-contenido-mujeres {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 40px 80px !important;
}

.grid-contenido-mujeres img {
  border-radius: 11px;
  transition: transform 0.3s ease; 
}

.grid-contenido-mujeres img:hover{
  transform: scale(1.1);
}

.grid-contenido-mujeres h4{
  color: var(--primary-color-dark);
  font-size: 1.rem;
  margin: 10px 0 0 5px;
}

.grid-contenido-mujeres h4{
  color: var(--primary-color-dark);
  font-size: 1.rem;
  margin: 10px 0 0 5px;
}

.grid-contenido-mujeres p {
  justify-content: space-between;
}

.precio-mujeres {
  display: flex;
  justify-content: space-between;
  margin: 8px 30px 0 5px;
  font-size: 0.9rem;
  font-weight: 600;
}

.precio-mujeres h5 {
  font-weight: 500;
}

.precio-mujeres p {
  color: var(--primary-color);
}



