@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto+Condensed:wght@400;700&display=swap");

:root {
    --primary-color: #2563eb;
    --primary-color-dark: #1e40af;
    --text-dark: #1f1f1f;
    --text-light: #4b5563;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
    --font-heading: "Roboto Condensed", sans-serif;
}

.contenido-mujeres {
  font-family: var(--font-heading);
}

.contenido-mujeres p {
  font-family: 'Montserrat', sans-serif;
}

/* ------------------- Buscador -------------------- */
.buscador-mujeres-productos {
  display: flex;
  justify-content: flex-end;
  margin: 40px 0 20px;
  padding-right: 50px;
}

.buscador-mujeres {
  border: 1px solid var(--primary-color-dark);
  padding: 10px;
  border-radius: 60px;
  font-size: 19px;
}

.ri-search-line{
  margin-left: 10px;
}

.buscador-mujeres input {
  border: none;
  font-size: 19px;
  width: 220px;
  background-color: transparent;
  margin-bottom: 0;
}

.buscar-producto-mujer {
  outline: none;
}

/* ------------------ Productos -------------------- */
.grid-contenido-mujeres {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 40px 80px !important;
}

.grid-contenido-mujeres img {
  border-radius: 11px;
  transition: transform 0.3s ease; 
  height: 70%;
  width: 90%;
}

.grid-contenido-mujeres img:hover{
  transform: scale(1.1);
}

.grid-contenido-mujeres h4{
  color: var(--primary-color-dark);
  font-size: 19.2px;
  margin: 10px 0 0 5px;
}

.grid-contenido-mujeres p {
  justify-content: space-between;
  font-size: 17px;
}

.precio-mujeres {
  display: flex;
  justify-content: space-between;
  margin: 8px 30px 0 5px;
  font-size: 0.9rem;
  font-weight: 600;
}

.precio-mujeres h5 {
  font-weight: 500;
  font-size: 17px;
}

.precio-mujeres p {
  color: var(--primary-color);
}

/* ------------------ Responsive -------------------- */

/* Celulares pequeños */
@media (max-width: 480px) {
  .grid-contenido-mujeres {
    grid-template-columns: 1fr !important;
    margin: 50px !important;
  }

  .grid-contenido-mujeres h5 {
    font-size: 0.9rem;
  }

  .buscador-mujeres {
    width: 150px;
    font-size: 0.9rem;
  }

  .buscador-mujeres input {
    width: 80px;
    padding: 2px;
    font-size: 0.9rem;
  }
}

/* Celulares grandes y tablets pequeñas */
@media (min-width: 481px) and (max-width: 768px) {
  .grid-contenido-mujeres {
    grid-template-columns: 1fr !important;
    margin: 40px !important;
  }

  .buscador-mujeres-productos {
    align-items: flex-end;
  }

  .buscador-mujeres {
    width: 150px;
  }

  .buscador-mujeres input {
    width: 100px;
    padding: 5px;

  }
}

/*Tablets medianas y grandes */
@media (min-width: 769px) and (max-width: 1024px) {
  .grid-contenido-mujeres {
    grid-template-columns: repeat(2, 1fr) !important;
    margin: 50px !important;
    gap: 80px !important;
  }

  .buscador-mujeres-productos {
    align-items: flex-end;
  }

  .buscador-mujeres {
    width: 150px;
  }

  .buscador-mujeres input {
    width: 100px;
    padding: 5px;

  }
}

/* Laptops y computadores estándar */
@media (min-width: 1025px) and (max-width: 1920px) {
  .grid-contenido-mujeres {
    grid-template-columns: repeat(3, 1fr) !important;
    margin: 50px !important;
    gap: 80px !important;
  }

  .buscador-mujeres-productos {
    align-items: flex-end;
  }

  .buscador-mujeres {
    width: 200px;
  }

  .buscador-mujeres input {
    width: 100px;
    padding: 5px;

  }
}

/* Monitores grandes */
@media (min-width: 1921px) {
  .grid-contenido-mujeres {
    grid-template-columns: repeat(3, 1fr) !important;
    margin: 80px !important;
    gap: 150px !important;
    font-size: 2.1rem;
  }

  .grid-contenido-mujeres p {
    font-size: 1.4rem;
  }

  .grid-contenido-mujeres h5 {
    font-size: 1.27rem;
  }

  .buscador-mujeres-productos {
    align-items: flex-end;
  }

  .buscador-mujeres {
    width: 400px;
  }

  .buscador-mujeres input {
    width: 200px;
    padding: 20px;
    font-size: 2rem;

  }
}





