/* --------- Fuentes e importación -------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto+Condensed:wght@400;700&display=swap");

/* --------- Variables globales -------------- */
:root {
  --primary-color: #2563eb;
  --primary-color-dark: #1e40af;
  --text-dark: #1f1f1f;
  --text-light: #4b5563;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
  --font-heading: "Roboto Condensed", sans-serif;
}

/* --------- Estilos generales del carrito -------------- */
.carrito-compras {
  display: flex;
  margin: 40px 20px;
}

.carrito-compras h2, .carrito-compras h3, .carrito-compras h4 {
  font-family: var(--font-heading);
}

.carrito-compras p {
  font-family: 'Montserrat', sans-serif;
}

/* --------- Sección de entrega -------------- */
.entrega-carrito {
  padding: 20px;
  width: 20%;
  border-right: 2px solid #ddd;
}

.entregar-titulo {
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 80px 60px 280px 60px;
}

.contenedor-total-entrega,
.contenedor-subtotal-entrega {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.realizar-compra {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color-dark);
  color: var(--extra-light);
  border: none;
  border-radius: 60px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
}

.realizar-compra:hover{
    background-color: #1c46cf;
}
/* --------- Estilos del grid del carrito -------------- */
.grid-carrito {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  margin: 20px;
}

.header-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  padding: 10px 0;
  text-align: center;
  color: var(--primary-color);
}

.fila-producto {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
}

.producto-detalle {
  display: flex;
  align-items: center;
  gap: 15px;
}

.producto-img {
  width: 40%;
  height: auto;
  object-fit: cover;
}

.precio-producto {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.cantidad-controles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.disminuir-cantidad,
.aumentar-cantidad {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

.disminuir-cantidad {
  background-color: #dc3545;
}

.cantidad-producto {
  font-size: 16px;
  font-weight: bold;
}

.subtotal-eliminar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtotal-producto {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 20px;
}

.total-entrega, .subtotal-entrega {
  font-size: 25px;
  letter-spacing: 1px;
}

.total-valor {
  color: #333;
  font-size: 20px;
}

.subtotal-valor {
  color: #333;
  font-size: 20px;
}

.eliminar-producto {
  background: none;
  border: none;
  font-size: 1.3rem;
  color: var(--text-dark);
  cursor: pointer;
}

/* --------- Estilos botón regresar -------------- */
.boton-regresar-carrito {
  width: 0;
  margin: 0;
  z-index: 100;
}

.boton-regresar {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 15px;
  margin-left: 15px;
}

.boton-regresar:hover {
  background-color: #1e40af; /* Color más oscuro en hover */
  transform: scale(1.05); /* Efecto de agrandamiento */
  transition: transform 0.3s ease;
}
.link-car {
  color: white;
  font-weight: 700;
  font-size: 25px;
  text-decoration: none;
  
}

/* --------- Estilos Responsive -------------- */

/* Celulares pequeños */
@media (max-width: 480px) {
  .carrito-compras {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .entrega-carrito {
    order: 2;
    border: none;
    font-size: 1.2rem;
  }

  .entregar-titulo {
    margin: 20px 0;
  }

  .realizar-compra {
    padding: 10px;
    width: 12rem;
    display: flex;
    justify-content: center;
    margin: 30px auto 0;
  }

  .grid-carrito {
    order: 1;
    display: grid;
    grid-template-columns: 1fr;
  }

  .entrega-carrito {
    border-top: 2px solid #ddd;
    width: 100%;
  }

  .header-grid {
    display: none;
  }

  .fila-producto {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }

  .fila-producto img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .producto-detalle {
    padding: 0;
    margin-bottom: 20px;
    gap: 0;
    font-size: 1.3rem;
    text-align: center;
  }

  .cantidad-controles {
    margin: 15px 0;
  }

  .subtotal-eliminar {
    display: flex;
    justify-content: space-evenly;
  }
}

/* Celulares grandes y tablets pequeñas */
@media (min-width: 481px) and (max-width: 768px) {
  .carrito-compras {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .entrega-carrito {
    order: 2;
    border: none;
    font-size: 1.2rem;
  }

  .entregar-titulo {
    margin: 50px 0;
  }

  .realizar-compra {
    padding: 10px;
    width: 12rem;
    display: flex;
    justify-content: center;
    margin: 30px auto 0;
  }

  .grid-carrito {
    order: 1;
    display: grid;
    grid-template-columns: 1fr;
  }

  .entrega-carrito {
    border-top: px solid #ddd;
    width: 100%;
  }

  .header-grid {
    display: none;
  }

  .fila-producto {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }

  .fila-producto img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .producto-detalle {
    padding: 0;
    margin-bottom: 20px;
    gap: 0;
    font-size: 1.3rem;
    text-align: center;
  }

  .cantidad-controles {
    margin: 15px 0;
  }

  .subtotal-eliminar {
    display: flex;
    justify-content: space-evenly;
  }

  .contenedor-subtotal-entrega {
    margin-bottom: 50px;
  }
}

/* Tablets medianas y grandes */
@media (min-width: 769px) and (max-width: 1024px) {
  .carrito-compras {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .entrega-carrito {
    order: 2;
    border: none;
    font-size: 1.2rem;
  }

  .entregar-titulo {
    margin: 50px 0;
  }

  .realizar-compra {
    padding: 10px;
    width: 12rem;
    display: flex;
    justify-content: center;
    margin: 30px auto 0;
  }

  .grid-carrito {
    order: 1;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .entrega-carrito {
    border-top: 2px solid #ddd;
    width: 100%;
  }

  .header-grid {
    display: none;
  }

  .fila-producto {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }

  .fila-producto img {
    width: 80%;
    height: auto;
  }

  .producto-detalle {
    padding: 0;
    margin-bottom: 20px;
    gap: 0;
    font-size: 1.3rem;
    text-align: center;
  }

  .cantidad-controles {
    margin: 15px 0;
  }

  .subtotal-eliminar {
    display: flex;
    justify-content: space-evenly;
  }

  .contenedor-subtotal-entrega {
    margin-bottom: 50px;
  }
}

/* Laptos y escritorios estándar */
@media (min-width: 1025px) and (max-width: 1920px) {
  .producto-detalle {
    padding: 0;
    margin-bottom: 20px;
    gap: 0;
    font-size: 0.8rem;
    text-align: center;
  }
}

/* Monitores grandes */
@media (min-width: 1921px) {
  .producto-detalle {
    padding: 0;
    margin-bottom: 20px;
    gap: 0;
    font-size: 1.3rem;
    text-align: center;
  }

  .fila-producto img {
    width: 50%;
  }
}
